---
import { Image } from 'astro:assets';
import LetterIntroContent from '@assets/ui/vision/en/letter-content.svg'
import LetterIntroImage from '@assets/ui/vision/letter-intro.jpg'
import LetterIntroMB from '@assets/ui/vision/en/letter-intro-mb.png'
import LetterDetail1 from '@assets/ui/vision/en/detail-1.svg'
import LetterDetail2 from '@assets/ui/vision/en/detail-2.svg'
import LetterDetail3 from '@assets/ui/vision/en/detail-3.svg'
import LetterDetail1MB from '@assets/ui/vision/en/detail-1-mb.svg'
import LetterDetail2MB from '@assets/ui/vision/en/detail-2-mb.svg'
import LetterDetail3MB from '@assets/ui/vision/en/detail-3-mb.svg'

---
<section class="letter">
    <div class="container">
        <div class="letter__intro">
            <Image src={LetterIntroImage} alt="letter woman" class="img is-desk" data-aos="fade-up" />
            <Image src={LetterIntroContent} alt="letter content" class="img is-desk" data-aos="fade-up" />
            <Image src={LetterIntroMB} alt="letter content" class="img is-mb" data-aos="fade-up" />
        </div>
        <div class="letter__detail">
            <Image src={LetterDetail1} alt="detail letter content" class="img is-desk" data-aos="fade-up" />
            <Image src={LetterDetail2} alt="detail letter content" class="img is-desk" data-aos="fade-up" />
            <Image src={LetterDetail3} alt="detail letter content" class="img is-desk" data-aos="fade-up" />
            <Image src={LetterDetail1MB} alt="detail letter content" class="img is-mb" data-aos="fade-up" />
            <Image src={LetterDetail2MB} alt="detail letter content" class="img is-mb" data-aos="fade-up" />
            <Image src={LetterDetail3MB} alt="detail letter content" class="img is-mb" data-aos="fade-up"  />
        </div>
    </div>
</section>

<style lang="scss">
    @use '@styles/colors' as *;
    @use '@styles/mixins' as *;
    .letter {
        padding-block: 8.8rem;
        background-color: $cl-white;
        @include sm {
            padding: 4rem 0;
        }
        &__intro {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 4rem;
            @include sm {
                margin-bottom: 2.4rem;
            }
            > * {
                grid-area: 1/1/2/2;
            }
        }
        &__detail {
            display: flex;
            flex-direction: column;
            gap: 4rem 0;
            @include sm {
                gap: 2.4rem 0;
            }
        }
    }
</style>