---
import { Image, getImage } from 'astro:assets';
import TOC1 from '@assets/ui/home/TOC-1.svg';
import TOC2 from '@assets/ui/home/TOC-2.svg';
import TOC3 from '@assets/ui/home/TOC-3.svg';
import TOC4 from '@assets/ui/home/TOC-4.svg';
import TOC5 from '@assets/ui/home/TOC-5.svg';
import TOC6 from '@assets/ui/home/TOC-6.svg';
import TOCBackground from '@assets/ui/home/toc-bg.jpg'
const TOCBackgroundSrc = await getImage({src: TOCBackground, format: 'webp', width: TOCBackground.width})
import Link from '@components/global/Link.astro';
import { menu } from '@/i18n/default';
import { getLangFromUrl } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);
---
<section class="TOC" style={{ backgroundImage: `url('${TOCBackgroundSrc.src}')` }}>
    <div class="container">
        <div class="TOC-wrap">
            <div class="TOC__item">
                <Image src={TOC1} alt="" class="img is-desk" />
                <Link link={menu[lang][1].link} text="Xem tiếp"/>
            </div>
            <div class="TOC__item">
                <Image src={TOC2} alt="" class="img is-desk" />
                <Link link={menu[lang][2].link} text="Xem tiếp"/>
            </div>
            <div class="TOC__item">
                <Image src={TOC3} alt="" class="img is-desk" />
                <Link link={menu[lang][3].link} text="Xem tiếp"/>
            </div>
            <div class="TOC__item">
                <Image src={TOC4} alt="" class="img is-desk" />
                <Link link={menu[lang][4].link} text="Xem tiếp"/>
            </div>
            <div class="TOC__item">
                <Image src={TOC5} alt="" class="img is-desk" />
                <Link link={menu[lang][5].link} text="Xem tiếp"/>
            </div>
            <div class="TOC__item">
                <Image src={TOC6} alt="" class="img is-desk" />
                <Link link={menu[lang][6].link} text="Xem tiếp"/>
            </div>
        </div>
    </div>
</section>


<style lang="scss">
    @use "@styles/colors" as *;
    .TOC {
        padding: 8.8rem 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &-wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem 2.25rem;
        }
        &__item {
            color: $cl-cyan;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 2.4rem 0;
            justify-content: space-between;
        }
    }
</style>